@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*,*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background-color: #3f3f3fee;
    font-family: 'Open Sans', sans-serif;
    height:100vh;
}


.WrapperForm{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction:column;
}

.invulformulier{
    background-color: #ffff;
    min-height: 30rem;
    min-width:30rem;
    border-radius: 1.5rem;
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3rem;
}

.invulformulier__header{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.invulformulier__inputState{
    background-color:#D9D9D9;
    border:none;
    min-height:4rem;
    min-width:30rem;
    border-radius: 0.5rem;
}

.invulformulier__inputSubmit{
    background-color: #5dff0f;
    border: none;
    border-radius: 0.25rem;
    font-size: 100%;
    padding: 0.8rem 3rem;
}

@media screen and (min-width:375) and (max-width:375 ){
    .WrapperForm{
        display:flex;
        justify-content: center;
        align-items: center;
        height:100%;
        flex-direction:column;
    }
    
    .invulformulier{
        background-color: #ffff;
        min-height: 20rem;
        min-width:10rem;
        border-radius: 1.5rem;
        padding:4rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:3rem;
    }
    
    .invulformulier__header{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    
    .invulformulier__inputState{
        background-color:#D9D9D9;
        border:none;
        height:2rem;
        width:20rem;
        border-radius: 0.5rem;
    }
    
    .invulformulier__inputSubmit{
        background-color: #5dff0f;
        border: none;
        border-radius: 0.25rem;
        font-size: 100%;
        padding: 0.8rem 3rem;
    }
}